<main class="main_categorias_show">
	<div class="container">
		<div class="row justify-content-center my-3">
			<div class="col-12">
				<h2 class="text-center">Información de la categoría</h2>
			</div>
		</div>
		<div class="row justify-content-center my-3">
			<div class="col-12">
				<button class="btn btn-dark" (click)="goBack()">Regresar</button>
			</div>
		</div>
		<hr>
		<div class="row justify-content-center">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12">

				<ul class="list-group" *ngIf="categoria">
				  <li class="list-group-item active text-center">Información detallada de la categoría</li>
				  <li class="list-group-item"><b>Nombre: </b>{{ categoria.name }}</li>
				  <li class="list-group-item"><b>Descripción: </b>{{ categoria.description }}</li>
				</ul>

			</div>
		</div>
	</div>
</main>
