<main class="main_publications_create">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-sm-10 col-md-8 col-lg-6">

				<div *ngIf="isError" id="alertError" class="alert alert-dismissible fade show" role="alert" [ngClass]="{'alert-success': isAlert, 'alert-danger': !isAlert}" >
					{{message}}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlertError()">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<h2 *ngIf="!isError" class="text-center mb-3">Crear nueva publicación</h2>

				<form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
					<div class="form-row">

						<div class="col-md-12 mb-3">

							<label for="title">Titulo</label>
							<input type="text" [ngClass]="{'is-invalid': validationTitle.touched && !validationTitle.valid, 'is-valid': validationTitle.touched && validationTitle.valid}" class="form-control" name="title" #validationTitle="ngModel" placeholder="Nombre" [(ngModel)]="title" required>

							<div class="invalid-feedback" *ngIf="validationTitle.touched && !validationTitle.valid">
								<div *ngIf="validationTitle.errors.required">Por favor, introduzca un Nombre</div>
							</div>

						</div>

						<div class="col-md-12 mb-3">

							<label for="password">Descripción</label>
							<input type="text" [ngClass]="{'is-invalid': validationDescription.touched && !validationDescription.valid, 'is-valid': validationDescription.touched && validationDescription.valid}" class="form-control" name="description" #validationDescription="ngModel" placeholder="Descripción" [(ngModel)]="description" required>

							<div class="invalid-feedback" *ngIf="validationDescription.touched && !validationDescription.valid">
								<div *ngIf="validationDescription.errors.required">Por favor, introduzca un Descripción completo</div>
							</div>

						</div>

						<div class="col-md-12 mb-3">

							<label for="tarifa">Tarifa</label>
							<input type="text" [ngClass]="{'is-invalid': validationTarifa.touched && !validationTarifa.valid, 'is-valid': validationTarifa.touched && validationTarifa.valid}" class="form-control" name="tarifa" #validationTarifa="ngModel" placeholder="Nombre" [(ngModel)]="tarifa" required>

							<div class="invalid-feedback" *ngIf="validationTarifa.touched && !validationTarifa.valid">
								<div *ngIf="validationTarifa.errors.required">Por favor, introduzca un Nombre</div>
							</div>

						</div>

						<div class="col-md-12 mb-3">

							<label for="categoria">Categoría</label>
							<select [ngClass]="{'is-invalid': validationCategoria.touched && !validationCategoria.valid, 'is-valid': validationCategoria.touched && validationCategoria.valid}" name="categoria" #validationCategoria="ngModel" [(ngModel)]="categoriaSelected" class="form-control" required>
								<option *ngFor="let categoria of categoria" [value]="categoria.name"> {{categoria.name}}</option>
							</select>

							<div class="invalid-feedback" *ngIf="validationCategoria.touched && !validationCategoria.valid">
								<div *ngIf="validationCategoria.errors.required">Por favor, introduzca una Categoría</div>
							</div>

						</div>

						<div class="col-md-12 mb-3">

							<label for="ruta">Ruta</label>
							<select [ngClass]="{'is-invalid': validationRuta.touched && !validationRuta.valid, 'is-valid': validationRuta.touched && validationRuta.valid}" name="ruta" #validationRuta="ngModel" [(ngModel)]="categoriaSelected" class="form-control" required>
								<option *ngFor="let ruta of ruta" [value]="ruta.name"> {{ruta.name}}</option>
							</select>

							<div class="invalid-feedback" *ngIf="validationRuta.touched && !validationRuta.valid">
								<div *ngIf="validationRuta.errors.required">Por favor, introduzca una Ruta</div>
							</div>

						</div>

						<div class="col-md-12 mb-3">
							
							<label for="ruta">Imagen destacada</label>
							<div class="input-group">
								<div class="custom-file">
									<input type="file" class="custom-file-input" (change)="preUpload($event)" required >
									<label class="custom-file-label" for="inputGroupFile04">{{fileName}}</label>
								</div>
								<div class="input-group-append">
									<button class="btn btn-outline-primary" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
								</div>
							</div>

						</div>

					</div>

					<button type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid">Registrar</button>
					<button type="reset" class="btn btn-secondary">Cancelar</button>
					<button (click)="goBack()" class="btn btn-dark">Regresar</button>

				</form>
			</div>
		</div>
	</div>
</main>